part1/anecdotes/node_modules
part1/courseinfo/node_modules
part1/unicafe/node_modules
part2/countries/node_modules
part2/courseinfo/node_modules
part2/phonebook/node_modules
part3/phonebook-api/node_modules
part3/phonebook-api/.env
part4/bloglist-api/.env
part4/bloglist-api/node_modules
part5/bloglist-frontend/node_modules